{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
    body {
        background-color: #f2fae9;
        color: black;
    }

    .container-fluid {
        background-color: #f2fae9;
        color: black;
    }

    .bg-light {
        background-color: #f2fae9 !important; 
        color: black;
    }
</style>

<div class="container-fluid">
    <div class="h1 text-center text-warning">Thankful Donations</div>
    <div class="w-50 mx-auto bg-light text-center caption border">
        Thankful Donations: Helping organizations share with those in need.
    </div>
    <div class="lead text-center btyb">Brought to you by Sriniketh Brahmandam(sb2582) from
        section IS601-007
    </div>
</div>
{% endblock %}

